    * {
        margin: 0;
        padding: 0;
        font-family: Arial;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .container {
        width: 80%;
        margin: auto;
    }
    
    .clear {
        clear: both;
    }
    
    .bg-grey {
        background-color: rgb(238, 238, 238);
        background-size: 100% 100%;
        height: 450px;
        margin-top: 5%;
        border-top: 2px solid rgb(238, 238, 238);
    }
    
    .bg-greyy {
        background-color: rgb(238, 238, 238);
        background-size: 100% 100%;
        height: 650px;
        margin-top: 5%;
        border-top: 2px solid rgb(238, 238, 238);
    }
    
    .bg-gey {
        background-color: rgb(238, 238, 238);
        background-size: 100% 100%;
        height: 450px;
        margin-top: 5%;
        border-top: 2px solid rgb(184, 184, 184);
    }
    
    .bg-white {
        height: 450px;
        background-size: 100% 100%;
    }
    
    .bg-nav {
        height: 4px;
    }
    
    p {
        padding: 3%;
        font-size: 14px;
        color: rgb(190, 189, 189);
        margin-left: -4%;
        margin-top: 2%;
        width: 95%;
    }
    
    .logo {
        display: inline-block;
        font-size: 30px;
        margin-right: 2%;
    }
    
    span {
        color: rgb(248, 165, 70);
    }
    
    nav {
        background-color: black;
        color: white;
        padding: 15px;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    nav ul {
        list-style: none;
        float: right;
        width: 40%;
        margin-top: -0.8%;
    }
    
    nav ul li {
        display: inline-block;
        padding: 3%;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(190, 189, 189);
        font-size: small;
    }
    
    .bg-img {
        background-image: url(/img/4.jpg);
        background-size: 100% 100%;
        height: 500px;
    }
    
    .overlay {
        background-color: rgba(0, 0, 0, 0.521);
        background-size: cover;
        box-shadow: 0px 0px 2px 0px black;
        height: 100%;
    }
    
    .title {
        color: white;
        padding-top: 2%;
        width: 40%;
        float: left;
    }
    
    .AX-h {
        font-size: 70px;
        margin-top: 12%;
    }
    
    h2 {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 25px;
        margin-top: 1%;
        margin-left: -1%;
    }
    
    .AX-hr {
        width: 40px;
        border: 1px solid white;
        margin-top: 5%;
        margin-left: -0.8%;
    }
    
    .AX-button {
        color: rgb(206, 206, 206);
        padding: 6px 20px;
        background-color: transparent;
        border: 1px solid rgb(206, 206, 206);
        margin-left: -0.8%;
        margin-top: 3%;
        font-size: 10px;
    }
    
    .user {
        float: right;
        background-color: white;
        border: 1px solid rgba(97, 96, 96, 0.486);
        border-radius: 4px;
        margin-top: 12%;
        width: 22%;
        margin-right: 13%;
    }
    
    h3 {
        background-color: rgb(230, 230, 230);
        font-size: 15px;
        padding: 1%;
        line-height: 30px;
        text-align: center;
    }
    
    .ii {
        border-bottom: 2px solid rgb(207, 205, 205);
        display: block;
        border: none;
        padding: 6%;
    }
    
    .user-button {
        background-color: rgb(248, 165, 70);
        border: none;
        text-align: center;
        color: white;
        width: 100%;
        padding: 4% 4%;
        margin-top: 30px;
        margin-left: 0%;
    }
    
    .text {
        float: left;
        width: 25%;
        vertical-align: middle;
    }
    
    h4 {
        font-size: 15px;
        margin-top: 3%;
    }
    
    .text-p {
        margin-left: -2%;
        margin-top: -2%;
        font-size: 12px;
        line-height: 17px;
    }
    
    .ccc {
        float: right;
        width: 60%;
    }
    
    #ccc-i {
        padding: 4%;
        font-size: 30px;
        color: rgb(170, 168, 168);
        vertical-align: middle;
        margin-bottom: 1%;
    }
    
    .TAB {
        border-radius: 20px;
        width: 8%;
        float: left;
        padding-top: 12%;
        margin-left: 3%;
    }
    
    .T {
        background-color: rgb(245, 156, 56);
        font-size: 8px;
        text-align: center;
        border: 1px solid rgb(223, 220, 220);
        padding: 39% 5%;
        color: white;
    }
    
    .A,
    .B {
        background-color: rgb(53, 52, 52);
        font-size: 8px;
        text-align: center;
        border: 1px solid rgb(221, 221, 221);
        padding: 39% 5%;
        color: white;
    }
    
    .next {
        float: left;
        width: 34%;
        margin-left: 2%;
        margin-top: 20%;
    }
    
    h5 {
        font-size: 18px;
        margin-left: 13%;
        margin-top: -25%;
    }
    
    .next-p {
        color: rgb(148, 148, 148);
        font-size: 12px;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    .nextt-p {
        color: rgb(148, 148, 148);
        font-size: 12px;
        margin-left: 10%;
        margin-top: 1%;
    }
    
    .next-button {
        background-color: rgb(245, 156, 56);
        padding: 2% 3%;
        color: white;
        border: none;
        border-radius: 3px;
        margin-left: 13%;
        margin-top: 4%;
    }
    
    .screen {
        float: right;
        width: 36%;
    }
    
    .screen-img {
        box-shadow: 0px 0px 5px 0px gray;
        margin-top: 38%;
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    }
    
    .web {
        float: left;
        width: 35%;
        margin-top: 12%;
    }
    
    .web-img {
        box-shadow: 0px 0px 20px 5px darkgrey;
        margin-bottom: -6%;
    }
    
    .find {
        float: right;
        width: 40%;
        margin-top: 27%;
        margin-right: 3%;
    }
    
    .find-h {
        font-size: 18px;
        margin-top: -45%;
        margin-right: 3%;
    }
    
    .find-hr {
        width: 40px;
        border: 1px solid rgb(243, 145, 33);
        margin-top: 5%;
        margin-left: 0.8%
    }
    
    .find-p {
        margin-left: -2%;
        font-size: 12px;
        line-height: 17px;
    }
    
    .norr {
        float: left;
        width: 5%;
    }
    
    .lll {
        float: left;
        width: 5%;
    }
    
    .nor {
        float: right;
        width: 86%;
    }
    
    .norr-i {
        display: inline-block;
        color: rgb(243, 145, 33);
        border: 2px solid rgb(243, 145, 33);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 2;
    }
    
    .lll-i {
        display: inline-block;
        color: rgb(243, 145, 33);
        border: 2px solid rgb(243, 145, 33);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin-top: 450%;
        margin-left: -90%;
        text-align: center;
        line-height: 2;
    }
    
    .nor-h {
        font-size: 15px;
    }
    
    .norr-p {
        font-size: 12px;
    }
    
    h6 {
        font-size: 17px;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .lett-hr {
        width: 40px;
        border: 1px solid rgb(243, 145, 33);
        margin-top: 2%;
        margin-left: 5.5%
    }
    
    .let {
        margin-left: 6%;
        width: 45%;
    }
    
    .let-img {
        vertical-align: middle;
        width: 33%;
        margin-top: -20%;
        float: right;
        margin-right: 8%;
        box-shadow: 0px 0px 20px 5px rgb(71, 71, 71);
    }
    
    .h-why {
        margin-top: 7%;
        font-size: 20px;
        font-family: 'Arial Narrow Bold';
        text-align: center;
    }
    
    .hr-why {
        width: 40px;
        border: 1px solid rgb(243, 145, 33);
        margin-top: 1%;
        margin-left: 47%;
    }
    
    .p-why {
        text-align: center;
        margin-top: -1.5%;
        margin-left: 0.6%;
    }
    
    .card {
        width: 28%;
        float: left;
        margin-top: 8%;
        margin-left: 5%;
    }
    
    .card-i {
        display: inline-block;
        border: 2px solid rgb(243, 145, 33);
        border-radius: 50px;
        font-size: 25px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 4% 4%;
        color: rgb(243, 145, 33);
        margin-bottom: 9%;
        margin-left: 39%;
    }
    
    .card-title {
        font-size: 15px;
        text-align: center;
    }
    
    .card-details {
        text-align: center;
    }
    
    .h-price {
        margin-top: 5%;
        font-size: 20px;
        font-family: 'Arial Narrow Bold';
        text-align: center;
    }
    
    .hr-price {
        width: 40px;
        border: 1px solid rgb(243, 145, 33);
        margin-top: 1%;
        margin-left: 48%;
    }
    
    .p-price {
        text-align: center;
        margin-top: -1.5%;
        margin-left: 0.6%;
    }
    
    .card-price {
        width: 28%;
        float: left;
        margin-top: 4%;
        margin-left: 5%;
        border: 1px solid gainsboro;
        border-radius: 5px;
        text-align: center;
    }
    
    .card-pricee {
        width: 28%;
        float: left;
        margin-top: 2%;
        margin-left: 5%;
        border: 1px solid gainsboro;
        border-radius: 5px;
        text-align: center;
    }
    
    .bg-grey-price {
        border-bottom: 5px solid rgb(243, 145, 33);
        background-color: rgb(53, 53, 53);
        color: white;
        padding: 4%;
    }
    
    .bg-greyy-price {
        background-color: rgb(53, 53, 53);
        color: white;
        padding: 4%;
    }
    
    .span-price {
        color: white;
        font-size: 50px;
        font-weight: 700;
    }
    
    .mon {
        font-size: 15px;
        background-color: rgb(243, 145, 33);
        background-size: 100% 100%;
        color: white;
        text-align: center;
        padding: 4% 4%;
        width: 100.8%;
        margin-left: -4.4%;
        margin-bottom: -4%;
    }
    
    .card-bodr {
        margin-top: -1%;
        background-color: white;
    }
    
    .card-bod {
        border-top: 1px solid rgb(243, 145, 33);
        margin-top: -2%;
        background-color: white;
    }
    
    .bodr {
        border: 1px solid rgb(238, 238, 238);
        color: rgb(238, 238, 238);
    }
    
    .h-what {
        margin-top: 9%;
        font-size: 20px;
        font-family: 'Arial Narrow Bold';
        text-align: center;
    }
    
    .hr-what {
        width: 40px;
        border: 1px solid rgb(243, 145, 33);
        margin-top: 1%;
        margin-left: 48%;
    }
    
    .p-what {
        text-align: center;
        margin-top: -1.5%;
        margin-left: 0.6%;
    }
    
    .card-d {
        width: 23%;
        float: left;
        margin-top: 8%;
        margin-left: 8%;
    }
    
    .card-detail {
        margin-top: -14%;
        text-align: left;
        background-color: rgba(241, 241, 241, 0.747);
        padding: 7%;
    }
    
    .triangle-down {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid rgba(241, 241, 241, 0.747);
    }
    
    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
    .b-img {
        background-image: url(/img/74810-10.jpg);
        background-size: 100% 100%;
        height: 230px;
    }
    
    .tite {
        color: white;
        padding-top: 2%;
    }
    
    .bg-h {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 25px;
        margin-top: 1.5%;
        text-align: center;
    }
    
    .bg-hr {
        width: 40px;
        border: 1px solid white;
        margin-top: 2%;
        margin-left: 47%;
    }
    
    .bg-p {
        padding: 3%;
        font-size: 14px;
        color: rgb(190, 189, 189);
        text-align: center;
        width: 95%;
        margin-top: -0.3%;
        margin-left: 1%;
    }
    
    .bg-b {
        color: rgb(206, 206, 206);
        padding: 6px 20px;
        background-color: transparent;
        border: 2px solid rgb(206, 206, 206);
        margin-left: 45%;
        margin-top: 1%;
        font-size: 10px;
    }
    
    .input-left {
        display: block;
        float: left;
        width: 40%;
    }
    
    .input-right {
        float: left;
        width: 40%;
        margin-left: 10%;
        margin-top: 7%;
    }
    
    .input-fo {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(189, 188, 188);
        padding: 4%;
        margin-top: 4%;
    }
    
    .button-fo {
        color: white;
        padding: 10px 15px;
        background-color: rgb(243, 145, 33);
        border: 2px solid rgb(243, 145, 33);
        margin-left: 43%;
        margin-top: 7%;
        border-radius: 3px;
        font-size: 10px;
    }
    
    footer {
        text-align: center;
        height: 50px;
        padding: 1%;
        background-color: rgb(8, 8, 8);
    }
    
    .up-icon {
        font-size: 20px;
        background-color: rgb(17, 17, 17);
        color: white;
        margin-left: 1%;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 3px solid rgb(43, 43, 43);
        position: fixed;
        bottom: 10px;
        right: 2%;
    }
    
    #footer-i {
        margin-top: 0%;
        padding: 1%;
        font-size: 15px;
        color: rgb(216, 212, 212);
    }
    
    .footer-p {
        text-align: center;
        margin-top: -3%;
        margin-left: 0.5%;
        font-size: 10px;
    }